resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: tiger-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3

commonLabels:
  env: production
  project: the-tiger-supreme
